.projects {
    height: 100px;
    border: 2px dashed rgba(var(--primary-font-color), 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: lowercase;
}


@media (min-width: 576px) {
    .projects {
        font-size: 30px;
    }
}
