.about__list {
  list-style: unset;
  margin-left: 15px;
  > li {
    margin: 8px 0;
  }
}

.about__text--emphasized {
  font-family: 'Cookie', cursive;
  text-align: left;
  color: var(--secondary-font-color);
  font-size: 20px;
}

.about__text--underlined {
  text-decoration: underline;
}

.about__text--cut {
  filter: blur(3px);
  transition: all 0.2s;
  &:hover {
    filter: none;
  }
}
