.card {
	min-height: 200px;
	padding: 40px 35px;
	background-color: rgba(var(--background-color), 1);
	margin: 10px 0;
	border: 2px dashed rgba(var(--primary-font-color), 1);
}

.card__title {
	font-family: "Cookie";
	font-size: 30px;
	color: var(--secondary-font-color);
	margin-bottom: 10px;
}

.card__description {
	font-family: "Roboto";
	font-size: 14px;
	color: rgba(var(--primary-font-color), 1);
	margin-top: 10px;
}

.card__technologies {
	margin-top: 20px;
	.card__technology:first-child {
		margin-left: 0;
	}
	.card__technology:last-child {
		margin-right: 0;
	}

	.card__technology {
		margin: 0 5px;
		font-size: 18px;
		color: rgba(var(--primary-font-color), 1);
	}
}

.card__technologies--title {
	color: var(--secondary-font-color);
	margin-bottom: 10px;
}

.card__url {
	color: var(--primary-font-color);
	margin-top: 30px;
	font-size: 14px;
}

.card__url--link {
	color: var(--secondary-font-color);
}

a {
	color: var(--secondary-font-color);
	text-decoration: underline;
}
