button {
  background-color: var(--secondary-font-color) !important;
  color: var(--background-color) !important;
  border: none !important;
}

label {
  margin-bottom: 5px !important;
}

textarea {
  min-height: 100px;
}

#contact-form {
  padding: 0;
}
