.header__title {
    color: rgba(var(--primary-font-color), 1);
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.header__underscore {
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-left: 5px;
    &:after {
        font-size: 40px;
        content: '_';
        height: 8px;
        color: var(--secondary-font-color);
    }
}

.header__subtitle {
    display: block;
    margin-left: 5px;
    font-size: 22px;
    line-height: 1em;
    font-family: 'Cookie', cursive;
    text-align: left;
    color: var(--secondary-font-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 30vh;
    padding-top: 50px;
}

.header__line {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__line--with-margin {
    margin-top: 24px;
}

.header__icons {
    display: flex;
    margin-left: 6px;
    .header__icon:first-child {
        margin-left: 0;
    }
    .header__icon:last-child {
        margin-right: 0;
    }
}

.header__icon {
    color: rgba(var(--primary-font-color), 1);
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    svg {
        &:hover, path:hover {
            color: var(--secondary-font-color);
        }
    }
}


.header__hi {
    margin-right: 10px;
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block;
    animation-timing-function: linear;
}


@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    5% {
        transform: rotate(15deg);
    }
    10% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(0);
    }
}

@media (min-width: 992px) {
    .header__title {
        font-size: 70px;
    }

    .header__subtitle {
        font-size: 22px;
    }

    .header__underscore {
        &:after {
            font-size: 70px;
        }
    }

    .header__icon {
        font-size: 16px;
    }
}
