.section__title {
	display: block;
	margin-left: 5px;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 1em;
	font-family: "Cookie", cursive;
	color: var(--secondary-font-color);
}

.section__content {
	color: rgba(var(--primary-font-color), 1);
	font-size: 16px;
	text-align: left;
	font-family: "Roboto", sans-serif;
	margin-left: 15px;
}
