.footer {
    padding: 25px 0;
    min-height: 75px;
    text-align: center;
}

.footer__text {
    color: rgba(var(--primary-font-color), 1);
    font-size: 14px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.footer__text--emphasized {
    font-size: 22px;
    line-height: 1em;
    font-family: 'Cookie', cursive;
    color: var(--secondary-font-color);
}

.footer__icon {
    margin: 0 2px 0 5px;
}
