.colors {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25px;
}

.color {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    border-radius: 4px;
    opacity: .7;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}
